
api-display-purposes==0.0.3
attrs==23.1.0

blinker==1.8.2
cachetools==5.5.0
certifi==2023.7.22
click==8.1.7
colorama==0.4.6
configparser==3.8.1
decorator==4.4.2
EasyProcess==1.1
gitdb==4.0.11
GitPython==3.1.43
googleapis-common-protos==1.60.0
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
MeaningCloud-python==2.0.0
mock==5.1.0
numpy==1.25.2
outcome==1.2.0
packaging==23.1
pandas==2.2.2
Pillow==10.0.0
PyYAML==6.0.1
responses==0.23.3
schedule==1.2.0
streamlit==1.38.0
toml==0.10.2
tritonclient==2.34.0
types-PyYAML==6.0.12.11
typing_extensions==4.12.2
yfinance==0.2.43
